body {
    margin: 0;
    font-size: 16px;
    font-family:'Vollkorn', serif;
    color: black;
}

.container {
    margin: 0 32px;
}

header {
    background: center;
    background-image: url("taku1.png");
    background-size: cover;
    background-color: rgba(243, 218, 154, 0.6);
    background-blend-mode: lighten;
    padding: 70px 0;
}

header h1{
    margin: 0;
    font-size: 80px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 0.3em;
}
header p {
    margin: 0 auto;
    width: 50%;
    letter-spacing: 0.3em;
    line-height: 2em;
    font-weight: bold;
}

.about {
    background: #fff;
    padding: 64px 0;
    height: auto;
}

.about ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.about img {
    width: 160px;
    border-radius: 50%;
}

.about h2 {
    font-size: 20px;
}

.about p {
    font-weight: normal;
}

.pic {
    display: flex;
    flex-wrap: wrap;  
}

.pic li {
    list-style: none;
    width: calc(100%/4);
    padding: 0;
}

.pic img {
    width: 100%;
    border-radius: 0%;
    max-width: 100%;    
}

.sns {
    background: rgba(223, 194, 79, 0.577);
    text-align: center;

}

.timeline {
    padding: 2em 0;
}

.btn0{
    padding-bottom: 30px;
}

.btn {
    width: 25px;
    height: 25px;
    color: white;
    display: inline-block;
    opacity: 1;
    border-radius: 8px;
    text-align:center;
  }
.btn:hover {
    opacity: 0.8;
  }

.facebook {
    background-color: #3b5998;
  }
.twitter {
    background-color: #55acee;
  }

.adress {
    background: center;
    background-image: url("hand.png");
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

.adress h {
    font-size: 20px;
    color: rgba(241, 232, 232);
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.m {
    width: 80%;
    color: rgba(241, 232, 232);
    border: solid;
    border-color: rgba(241, 232, 232, 0.35);
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
}

.m:hover {
    opacity: 0.5;
  }

  
footer {
    padding-top: 30px;
    color: #323135b4;
    text-align: center;
}

@media (max-width: 800px) {
    header h1{
        font-size: 60px;
    }

    header p {
        width: 80%;
    }
}
@media (max-width: 425px) {


    header h1{
        margin: 0;
        font-size: 34px;
        font-weight: bolder;
        letter-spacing: 0.01em;
    }
    header p {
        width: 100%;
        letter-spacing: 0.05em;
    }

    .movie iframe {
        width: 100%;
        height: 200px;
    }
    .timeline iframe {
        width: 310px;
    }

    .adress {
        background-image: url("hand2.png");
        background-color: rgba(245, 235, 235, 0.6);
        background-blend-mode: lighten;    
    }

    .adress h {
        color: rgb(46, 53, 63);
        font-weight: bolder;
    }

    .m {
        border-color: rgba(86, 99, 119, 0.3);
        color: rgba(86, 99, 119);
    }
}
